bin/Debug/net5.0/lista01ExerciciosCSharp.deps.json
bin/Debug/net5.0/lista01ExerciciosCSharp.dll
bin/Debug/net5.0/lista01ExerciciosCSharp.exe
bin/Debug/net5.0/lista01ExerciciosCSharp.pdb
bin/Debug/net5.0/lista01ExerciciosCSharp.runtimeconfig.dev.json
bin/Debug/net5.0/lista01ExerciciosCSharp.runtimeconfig.json
bin/Debug/net5.0/ref/lista01ExerciciosCSharp.dll
