Exercício_2/bin/Debug/net5.0/Exercício_2.deps.json
Exercício_2/bin/Debug/net5.0/Exercício_2.dll
Exercício_2/bin/Debug/net5.0/Exercício_2.exe
Exercício_2/bin/Debug/net5.0/Exercício_2.pdb
Exercício_2/bin/Debug/net5.0/Exercício_2.runtimeconfig.dev.json
Exercício_2/bin/Debug/net5.0/Exercício_2.runtimeconfig.json
Exercício_2/bin/Debug/net5.0/ref/Exercício_2.dll
Exercício_04/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Exercício_04/obj/Debug/net5.0/Exercício_04.AssemblyInfo.cs
Exercício_04/obj/Debug/net5.0/Exercício_04.AssemblyInfoInputs.cache
Exercício_04/obj/Debug/net5.0/Exercício_04.assets.cache
Exercício_04/obj/Debug/net5.0/Exercício_04.csproj.AssemblyReference.cache
Exercício_04/obj/Debug/net5.0/Exercício_04.GeneratedMSBuildEditorConfig.editorconfig
Exercício_3/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Exercício_3/obj/Debug/net5.0/Exercício_3.AssemblyInfo.cs
Exercício_3/obj/Debug/net5.0/Exercício_3.AssemblyInfoInputs.cache
Exercício_3/obj/Debug/net5.0/Exercício_3.assets.cache
Exercício_3/obj/Debug/net5.0/Exercício_3.GeneratedMSBuildEditorConfig.editorconfig
exercicio01/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
exercicio01/obj/Debug/net5.0/apphost.exe
exercicio01/obj/Debug/net5.0/lista01ExerciciosCSharp.AssemblyInfo.cs
exercicio01/obj/Debug/net5.0/lista01ExerciciosCSharp.AssemblyInfoInputs.cache
exercicio01/obj/Debug/net5.0/lista01ExerciciosCSharp.assets.cache
exercicio01/obj/Debug/net5.0/lista01ExerciciosCSharp.csproj.AssemblyReference.cache
exercicio01/obj/Debug/net5.0/lista01ExerciciosCSharp.csproj.CoreCompileInputs.cache
exercicio01/obj/Debug/net5.0/lista01ExerciciosCSharp.csproj.FileListAbsolute.txt
exercicio01/obj/Debug/net5.0/lista01ExerciciosCSharp.dll
exercicio01/obj/Debug/net5.0/lista01ExerciciosCSharp.GeneratedMSBuildEditorConfig.editorconfig
exercicio01/obj/Debug/net5.0/lista01ExerciciosCSharp.genruntimeconfig.cache
exercicio01/obj/Debug/net5.0/lista01ExerciciosCSharp.pdb
exercicio01/obj/Debug/net5.0/ref/lista01ExerciciosCSharp.dll
